option_settings:
  aws:elasticbeanstalk:application:environment:
    AWS_REGION: "eu-north-1"
    S3_BUCKET: "damage-report-app-fulda"
    SES_SOURCE: "vedantbodhe@gmail.com"
    OPENAI_API_KEY: "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"